<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Djnago Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a> </h1>
    </div>

    <div>
        <p>piblished: 04.03.2021, 22:30</p>
        <h2><a href="">My first post</a> </h2>
        <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！</p>
    </div>

    <div>
        <p>公開日: 2020/03/04, 22:30</p>
        <h2><a href="">2番目の投稿</a></h2>
        <p>こんにちは！よろしくお願いします。</p>
    </div>
</body>
</html>